
{% extends 'Base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}




{% block main-content %}
<center>
<div class="card text-center mt-5" style="width: 300px;" >
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <label class="form-label fw-bold" for="typeEmail">Email input</label>
            <input type="email" id="typeEmail" class="form-control my-3" />
        </div>
        <a href="#" class="btn btn-primary w-100">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="{% url 'login' %}">Login</a>
            <a class="" href="{% url 'regestration' %}">Register</a>
        </div>
    </div>
</div>
</center>
{% endblock main-content %}