{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<!-- <div class="container my-5">
 <div class="row"> -->
  <!-- {% if request.session.u_id %}
  <h3>Welcome <span class="text-success fw-bold">{{request.session.u_id}}</span></h3>
  {% endif %} -->

  <!-- <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  <h2>Delivery Address</h2>

  </div> -->
  
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li> -->
            <li class="breadcrumb-item text-success fw-bold" aria-current="page">
    Welcome {{ request.session.u_id }} <span>{% for msg in messages %}<p class="text-danger">{{msg}}</p></span>
    {% endfor %}

            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-1 card-body text-center">
        
            <img  src="{{ user.profile_photo.url }}" alt="avatar"  
              class="profile-img rounded-circle  img-fluid" style="width: 186px; height: 168px;">
            
            <h5 class="detail my-3">{{user.first_name}} {{user.last_name}}</h5>
            <p class="detail fw-bold mb-1"> Email :- {{user.email}}</p>
            <p class="detail fw-bold mb-4"> Contact:-{{user.contact_number}}</p>
            <div class=" d-flex justify-content-center mb-2">
               <a class="log-out btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>&nbsp &nbsp<span>
                <a class="address btn btn-outline-primary" href="{% url 'address'%}"> Add-Address</a>

               </span>
            </div>
          </div>
        </div>
        <div class=" card-2 card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p  class="mb-0">mdbootstrap</p>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          {% if not  edit  %}
          <div class="card-body">
            <a href="{% url 'update' user.id %}"><svg style="margin-left: 800px;"  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" id="edit" class="bi bi-pencil-square " viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></a>
            </svg>
            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.contact_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.contact_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <!-- <p class="mb-0"><input type="submit" class="btn btn-primary" value="Save"></p> -->
              </div>
              <div class="col-sm-9"> 
              </form> 
              </div>
            </div>
        </div>
        {% endif %}
        {% if edit %}
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <form action="{% url 'update' user.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <p class="mb-0 fw-bold">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0"><input type="text" name="first_name" value="{{user.first_name}}" placeholder=""> <span class="mb-0 fw-bold"> Last Name: <span></span><input type="text" name="last_name" value="{{user.last_name}}"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold">Email</p>  
              </div>
              <div class="col-sm-6">
              <p class="text-muted mb-0"><input type="email"  value="{{user.email}}" name="email" id=""></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><input type="text" name="contact_number" value="{{user.contact_number}}" ></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold"> Other Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><input type="text" value="+91 {{user.contact_number}}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold"> Other Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> </p>
                <a href="{{user.profile_photo.url}}">{{user.profile_photo.url}}</a> 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><input type="submit" class="btn btn-primary" value="Save"></p>
              </div>
              <div class="col-sm-9"> 
              </form> 
              </div>
            </div>
            <hr>   
              <div class="col-sm-9"> 
              </form> 
              </div>
          </div>
          {% endif %}
        <br>
        <!-- Address  -->
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-dark font-italic me-1 fw-bold" style="text-decoration: underline;">Address
                </p>
                <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Name</p>
                {{address.username}}
                <div class="progress-bar" style="height: 3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
<!-- <br> -->
                <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">City</p>
                {{address.city}}
                <div class="progress-bar" style="height: 3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
<!-- <br> -->
                <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Area :-</p>
                {{address.area}}
                <div class="progress-bar" style="height: 3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <!-- <br> -->
                <p class="mb-1 fw-bold" style="font-size: 1; color: rgb(0, 0, 0);">Pin-code :-</p>
                {{address.pincode}}
                <div class="progress-bar" style="height:3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <!-- <br> -->
                <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">State</p>
                {{address.state}}
                <div class="progress-bar" style="height: 3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <!-- <br> -->
                <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Contact Number</p>
                {{address.contact_number}}
                <div class="progress-bar" style="height: 3px; color: blue;"> 
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-dark font-italic me-1 fw-bold" style="text-decoration: underline;">Address-2
                  </p>
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Name</p>
                  {{address2.username}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
  <!-- <br> -->
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">City</p>
                  {{address2.city}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
  <!-- <br> -->
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Area :-</p>
                  {{address2.area}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <!-- <br> -->
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Pin-code :-</p>
                  {{address2.pincode}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <!-- <br> -->
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">State</p>
                  {{address2.state}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <!-- <br> -->
                  <p class="mb-1 fw-bold" style="font-size: 1; color: crimson;">Contact Number</p>
                  {{address2.contact_number}}
                  <div class="progress-bar" style="height: 3px; color: blue;"> 
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
</section>
{% endblock main-content %}